<body><!---
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Ofiliz</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a  *ngIf="isLoggedin()==false" class="nav-link" routerLink="login">
          Giriş yap
        </a>

        <a *ngIf="isLoggedin()==true" (click)="logOut()"  class="nav-link" routerLink="login">
          Çık lan

        </a>

      </li>
    </ul>
  </nav> -->
  <app-nav *ngIf="isLoggedin()==true"></app-nav>
  <app-leftsidebar *ngIf="isLoggedin()==true"></app-leftsidebar>
  <router-outlet></router-outlet>





</body>
